{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="my-navbar">
        <div class="navbar-title">Trento Matrimoni</div>
    </div>
    <div class="container">
        {% for coppia in sposi %}
            <item class="item">
                <div class="row">
                    <div class="item-love col-sm-2 col-md-2">
                        <div class="item-img">
                            <img src="http://www.campostrini.it/media/news/150902-1759-130927-1638-cuore2.png" />
                        </div>
                    </div>


                    <div class="item-coppia col-sm-10 col-md-10">
                        <div class="item-info">
                            <ul>
                                <li><strong>Sposo:</strong> {{ coppia.lui }}</li>
                                <li><strong>Sposa:</strong> {{ coppia.lei }}</li>
                                <li><strong>Comune:</strong> {{ coppia.comune }}</li>
                                <li><strong>Data:</strong> {{ coppia.date }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </item>
        {% endfor %}
    </div>
</body>
</html>