<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Logged In</h3>
<div>ID: {{ dati.user.id }}</div>
<div>Token: {{ dati.access_token }}</div>
<div>Username: {{ dati.user.username }}</div>
<div>Name: {{ dati.user.full_name }}</div>
<div><img src="{{ dati.user.profile_picture }}"/></div>
<hr />
<div>
    Media Liked:
    {% for media in liked %}
        <div>
            <div></div>
        </div>
    {%  endfor %}
</div>
<hr />
<div>
    {{ liked }}
</div>
</body>
</html>