{% load staticfiles %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/selection.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_mod.css' %}">
    <script>
        var matrix = [
            {% for list in data %}
                ['{{ list.name }}', ''],
            {% endfor %}
        ];
        $(document).ready(function () {

            if (getCookie("cookie-message-readed") == 1)
            {
                $("#banner").hide();
            }
            else {

            }
            $("#cookie-message").show();

            $("#cookie-chiudi").click(function(){
                setCookie("cookie-message-readed",1 , 365);
                $("#banner").hide();
            });

            //Toggle della selezione del post
            $('.post').click(function () {
                if($(this).hasClass('post-selected'))
                {
                    $(this).removeClass('post-selected');
                    $(this).find('.post-selected-img').hide();
                }
                else{
                    $(this).addClass('post-selected');
                    $(this).find('.post-selected-img').show();
                }
            });

            //Conferma i post e li invia al server
            $('#btn-confirm').click(function () {
                if($('.post-selected').size() <= 0)
                {
                    alert('Select at least one picture');
                    $(this).show();
                    $('#loading').hide();
                    return;
                }

                $(this).hide();
                $('#loading').show();

                //Invio dei dati al server
                var url_to_send = 'save';
                var data = [];


                $('.magazine-list').each(function () {
                    var selectedType = $(this).attr('value');
                    var posts = [];

                    $(this).find('.post-selected').each(function () {
                        var owner_id = $(this).attr('owner_id');
                        var owner_user = $(this).attr('owner_username');
                        var img_src = $(this).find('.post-img').attr('src');
                        var tags = $(this).attr('tags');

                        var post = {
                            'owner_id':owner_id,
                            'owner_user':owner_user,
                            'img_src':img_src,
                            'tags':tags
                        };
                        posts.push(post);
                    });

                    var magazine_type = {
                        'type': selectedType,
                        'posts':posts
                    };

                    data.push(magazine_type)

                });

                $('.magazine-list').empty();

                $.ajax({
                    url:url_to_send,
                    method: "POST",
                    data: {
                        'ajax':'true',
                        'action':'save',
                        'data':JSON.stringify(data)
                    },
                    success:function (msg) {

                        $('.link-result a').attr('href','http://'+msg);
                        $('.link-result a').text('http://'+msg);
                        $('.link-result').show();
                        $('#loading').hide();
                        //$('html, body').animate({scrollTop:$('.link-result').position().top}, 'slow');

                        /*var url = msg;
                         for(var i=0;i<matrix.length;i++)
                         {
                         if(matrix[i][0] == selected_type)
                         {
                         matrix[i][1] = url;
                         }
                         }
                         alert('foto salvate');
                         $('#txt-url').show().val(url);*/
                    },
                    error:function () {
                        alert('There has been an error, now we will redirect you to the homepage.');
                        window.location='/';
                    }
                });
            });

            //ADDED

            $('.see-hashtags').click(function () {
                var inst_url_tags = 'https://www.instagram.com/explore/tags/';
                popup($(this), inst_url_tags, true);
            });
            $('.see-users').click(function () {
                var inst_url_tags = 'https://www.instagram.com/';
                popup($(this), inst_url_tags, false);
            });

            $('.popup').click(function () {
                $('.popup').hide();
            });

            $('.popup-body').click(function (event) {
                event.stopPropagation();
            });

            //ENDADDED
        });

        function setCookie(c_name,value,exdays) {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/"; document.cookie=c_name + "=" + c_value;
        }
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';'); for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length); }
            return ""; }

        function popup (thisElem, url, isTag) {

            var name = thisElem.parent().parent().find('.post-list-title').text();
            var tags = thisElem.attr('value').split(',');

            $('.popup-title').text(name);
            $('.popup-body ul').empty();

            for(var i = 0; i<tags.length;i++)
            {
                var text = '';
                if(isTag)
                    text+='#';
                text+=tags[i];
                jQuery('<a/>',{
                    href:url+tags[i],
                    text:text
                }).appendTo(
                        jQuery('<li/>',{

                        }).appendTo('.popup-tags ul'));
            }



            $('.popup').show();
        }
    </script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LifeShare</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="selection">{{ user.RSAmagazine }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="previous">Previous Editions</a> </li>
            <li><a href="settings">Settings</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>

<div class="magazine-list-container">
    {% for postList in data %}
        {% if postList.data|length > 0 %}
            <div class="magazine-list container nopadding" value="{{ postList.name }}">
                <div class="magazine-list-title">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a class="post-list-title" href="#">{{ postList.name|capfirst }}</a> </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    {% if postList.name == "relatives' post" %}
                                        <li class="see-users" value="{{ postList.tags }}">
                                            <a href="#">See Relatives</a>
                                        </li>
                                    {% endif %}
                                    {% if postList.name != "relatives' post" %}
                                        <li class="see-hashtags" value="{{ postList.tags }}">
                                            <a href="#">See HashTags</a>
                                        </li>
                                    {% endif %}

                                </ul>
                                <!--<form class="navbar-form navbar-right" role="search">
                                    <div type="submit" id="btn-confirm" class="my-btn btn btn-success">Confirm</div>
                                    <input type="text" id="txt-url" class="form-control" />
                                </form>-->
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>

                <div class="magazine-list-instruction">
                    {{ postList.instruction }}
                </div>

                <div class="magazine-list-body">
                    {% for post in postList.data %}

                        <div class="post" owner_id="{{ post.caption.from.id }}" owner_username="{{ post.caption.from.username }}" tags="{{ post.tags|hashtags_to_string }}" >
                            <div class="post-selected-img">
                                <img src="http://cliparts.co/cliparts/8TE/jpX/8TEjpX4pc.png" />
                            </div>
                            <div class="post-header">
                                <img src="{{ post.images.standard_resolution.url }}" class="post-img" />

                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <strong><a href="https://www.instagram.com/{{ post.caption.from.username }}">{{ post.caption.from.username }}</a></strong>, <strong>{{ post.caption.created_time|timestamp}}</strong>
                                </div>
                                <div class="post-text">
                                    {{ post.caption.text }}
                                </div>
                            </div>

                            <div class="post-footer">

                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        {% endif %}
    {% endfor %}
    <div class="btn-send-container container nopadding">
        <div id="btn-confirm" class="btn my-btn btn-success">Publish</div>
    </div>
    <div class="link-result container">
        <div class="link-result-text">Click on the link to see the final photo-book or share it with the nursing home.</div>
        <a href="#"></a>
    </div>
    <div class="">&nbsp;</div>
</div>
<div id="banner">
    Questo sito utilizza cookie di profilazione propri o di terze parti, per saperne di più <a href="privacy">clicca qui</a>
    <button id="cookie-chiudi" class="btn btn-success">OK</button>
</div>

<div id="loading">
    <img src="http://sierrafire.cr.usgs.gov/images/loading.gif" />
</div>

<div class="popup">
    <div class="popup-outer">
        <div class="popup-middle">
            <div class="popup-body">
                <div class="popup-title">

                </div>
                <div class="popup-tags">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
