{% load staticfiles %}
{% load filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_mod.css' %}">

    <script>
        $(document).ready(function () {

            if (getCookie("cookie-message-readed") == 1)
            {
                $("#banner").hide();
            }
            else {

            }
            $("#cookie-message").show();

            $("#cookie-chiudi").click(function(){
                setCookie("cookie-message-readed",1 , 365);
                $("#banner").hide();
            });
            $('input').keyup(function () {
                var t = true;

                for(var i=0; i<$('input').size(); i++)
                {
                    if($('input')[i].value == "")
                    {
                        t = false;
                    }
                }

                if(t)
                    $('.btn').addClass('btn-success');
                else {
                    $('.btn').removeClass('btn-success');
                }
            });

            $('.btn').click(function () {
                if($(this).hasClass('btn-success'))
                {
                    var form = $(document.createElement('form'));
                    $(form).attr("action", "selection");
                    $(form).attr("method", "GET");

                    var input = $("<input>").attr("type", "hidden").attr("name", 'action').val("save");
                    $(form).append($(input));
                    var input = $("<input>").attr("type", "hidden").attr("name","rsa_name").val($('#inputNursingHomeName').val());
                    $(form).append($(input));
                    var input = $("<input>").attr("type", "hidden").attr("name","rsa_location").val($('#inputNursingHomeLocation').val());
                    $(form).append($(input));
                    var input = $("<input>").attr("type", "hidden").attr("name","magazine_name").val($('#inputMagazineName').val());
                    $(form).append($(input));

                    $(form).submit();
                }
                else
                    alert('Fill all the fields');
            });
        });

        function setCookie(c_name,value,exdays) {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/"; document.cookie=c_name + "=" + c_value;
        }
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';'); for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length); }
            return ""; }
    </script>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LifeShare</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="privacy">Privacy</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>

<!-- BODY -->
<div class="homepage">
    <div class="body round">
        <div class="container-fluid">

            <div class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>

                <label for="inputNursingHomeName" class="sr-only">Nursing Home Name</label>
                <input type="text" id="inputNursingHomeName" name="nursingHomeName" class="form-control signin-input" placeholder="Nursing Home Name" required autofocus>

                <label for="inputNursingHomeLocation" class="sr-only">Nursing Home Location</label>
                <input type="text" id="inputNursingHomeLocation" class="form-control signin-input" placeholder="Nursing Home Location" required>

                <label for="inputMagazineName" class="sr-only">Magazine Name</label>
                <input type="text" id="inputMagazineName" class="form-control signin-input" placeholder="Magazine Name" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>

        </div> <!-- /container -->
    </div>
</div>
<div id="banner">
    Questo sito utilizza cookie di profilazione propri o di terze parti, per saperne di più <a href="privacy">clicca qui</a>
    <button id="cookie-chiudi" class="btn btn-success">OK</button>
</div>

</body>
</html>