{% load staticfiles %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_mod.css' %}">
    <script>
        $(document).ready(function () {
            if (getCookie("cookie-message-readed") == 1)
            {
                $("#banner").hide();
            }
            else {

            }
            $("#cookie-message").show();

            $("#cookie-chiudi").click(function(){
                setCookie("cookie-message-readed",1 , 365);
                $("#banner").hide();
            });

            $('.slideshow-list-images ul li img').click(function () {
                var username = $(this).attr('username_creator');
                var img_creator = $(this).attr('img_creator');

                $('.main-img').attr('src', $(this).attr('src'));
                $('.slideshow-copyright a').text(username)
                $('.slideshow-copyright a').attr('href', 'https://www.instagram.com/'+username);
                $('.slideshow-copyright img').attr('src',img_creator);

            });

            $('.dropdown-menu-type li').click(function () {
                url = 'magazine?id='+$(this).attr('id_magazine')+'&type='+$(this).attr('value');
                window.location = url;
            });
        });

        function setCookie(c_name,value,exdays) {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString()) + "; path=/"; document.cookie=c_name + "=" + c_value;
        }
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';'); for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length); }
            return ""; }
    </script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LifeShare</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="slideshow">
    <div class="slideshow-container container nopadding">
        <div class="slideshow-upper">
            <nav class="navbar navbar-default nomarginbottom">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="slideshow-title">Magazine {{ user.RSAmagazine }} Edition Nr: {{ magazine.edition }} about {{ magazine_type.type|capfirst }} for {{ user.RSAname }} in {{ user.RSAlocation }}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" id="dropdown-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ magazine_type.type|capfirst }}<span class="caret"></span></a>
                                <ul class="dropdown-menu location-menu dropdown-menu-type" id="post-list-type">
                                    {% for type in list_type %}
                                        <li id_magazine="{{ magazine.id }}" value="{{ type.type }}"><a href="#"  >{{ type.type|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            {% comment %}
            <div class="slideshow-title">
                Magazine Edition Nr: {{ magazine.edition }} about {{ magazine.type|capfirst }} made by {{ user.username }}
            </div>
            {% endcomment %}
        </div>
        <div class="slideshow-body">

            <div class="slideshow-img-container">
                <img src="{{ images.0.img_src }}" class="main-img" />
            </div>
            <div class="slideshow-copyright round">
                Made by <a href="https://www.instagram.com/{{ images.0.username_creator }}">{{ images.0.username_creator }}</a>
                <img src="{{ images.0.img_src_creator }}" class="user_creator_img_profile circle" />
            </div>

        </div>
        <div class="slideshow-footer">
            <div class="slideshow-list-images">
                <ul>
                    {% for image in images %}
                        <li><img src="{{ image.img_src }}"  img_creator = "{{ image.img_src_creator }}" username_creator ="{{ image.username_creator }}"/></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% comment %}
<div class="post-list-container">
    <div class="post-list container nopadding">
        <div class="post-list-title">

        </div>
        <div class="post-list-body">
            {% for image in images %}
                <div class="post">
                    <div class="post-selected-img">
                        <img src="http://cliparts.co/cliparts/8TE/jpX/8TEjpX4pc.png" />
                    </div>
                    <div class="post-header">
                        <img src="{{ image.img_src }}" class="post-img" />

                    </div>
                    <div class="post-body">
                        <div class="post-title">
                            <strong><a href="/instagram/profile?id={{ post.caption.from.id }}">{{ post.caption.from.username }}</a></strong> in <strong>{{ post.location.name }}</strong> the <strong>{{ post.caption.created_time}}</strong>
                        </div>
                        <div class="post-text">
                            {{ post.caption.text }}
                        </div>
                    </div>

                    <div class="post-footer">

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endcomment %}
</body>
<div id="banner">
    Questo sito utilizza cookie di profilazione propri o di terze parti, per saperne di più <a href="privacy">clicca qui</a>
    <button id="cookie-chiudi" class="btn btn-success">OK</button>
</div>
</html>
