body{
    padding-top: 51px!important;
    background: #404040;
}

.container-fluid{
    padding: 0px;

}

.big_container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    margin-bottom: 1%;
    background: #ececec;
    #color: #cdcdcd;
}

.big_container h4{

    #color: #fff;
}

.img-profile-container{
}

.img-profile{
    max-height: 200px;
    max-width: 200px;
}

.data-profile-container{
    border-left: 1px solid gray;
}

.profile-data{

}

.profile-data-header{
    font-size: 1.5em;

}

.left-offset{
    margin-left: 5%;
}

.border-bottom{
    border-bottom: 1px solid gray;
}