body{
    padding-top: 51px!important;
    background: #fff;
}

.container-fluid{
    padding: 0px;

}


.big_container h4{

    #color: #fff;
}

.img-profile-container{
}

.img-profile{
    max-height: 200px;
    max-width: 200px;
}

.data-profile-container{
    border-left: 1px solid gray;
}

.profile-data{

}

.profile-data-header {
    font-size: 1.5em;
}


.post-header{
    margin: 0px;
    padding: 1%;
    background-color: #bfbfbf;
    color: black;
    font-size: 1.2em;
}

.post-body .container-fluid{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%!important;
    padding-right: 4%!important;

}

.post-text{
    font-size: 1.2em!important;
    margin-bottom: 1%;
    padding-bottom: 1%;
    #border-bottom: 1px solid gray;
}

.post-img{
    padding: 0px;
}

.post-img img{
    max-width: 100%;
    max-height: 100%;
}

.post-info{
    font-size: 0.9em;
}

.users_in_photos{
    margin-top: 2%;
}

.users_in_photos ul{
    padding: 0px;
    margin-top: 0px;
}

.users_in_photos ul li{
    display: inline-block;
}

.tag_in_posts{

}

.tag_in_posts ul{
    padding: 0px;
    margin: 0px;
}

.tag_in_posts ul li{
    display: inline-block;
}

.search_container{
    font-size:1em;
}






.left-offset{
    margin-left: 5%;
}

.border-bottom{
    border-bottom: 1px solid gray;
}

.big_container{

    background: #ececec;
    background: #ececec;
    #color: #cdcdcd;
}

.padding-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
}

.margin-bottom-container {
    margin-bottom: 1%;
}

.margin-top-container{
    margin-top: 1%;
}

.nopadding{
    padding: 0px;
}