body{
    background-color: #e6e6e6;
}

.container{
    margin-top: 55px;
}

.item{
    background-color: #fff;
    display: block;
    margin: 2%;
    border: 1px solid #3959b6;

}
.item-love{
    height: 100%;
}

.item-coppia{
    font-size: 1.5em;
}

.item-coppia ul li{
    display: block;
}

.item-img{
    width: 100%;
    height: 100%;
}

.item-love .item-img img{
    width: 100%;
    height:100%;
}

.item-img img{
    max-width: 230px!important;
    max-height: 170px!important;
}


.mat-post-header{
    height: 40px;
    width: auto;
    background-color: #466ad4;
    color: #ffffff;
    font-size: 1.6em;
    padding-top: 5px;
    padding-left: 1%;

}

.mat-post-body{
    padding: 1%;
}

.mat-post-body strong{
    color:#466ad4;
}

.nopadding{
    padding: 0px;
}