.profile-container{
    position: fixed;
    background: #e6e6e6;
    padding: 1%;
    margin-top:1.5%;
    margin-left: 8%;
    border: 1px solid #3959b6;
    width: 15%;
    min-width: 200px;
}

.profile-data{

}

.profile-img{
    text-align: center;
}

.profile-img div{
    display: inline-block;
}

.profile-img div img{
    width: 200px;
    height: 200px;
}

.profile-info{
    margin-top: 5%;
    padding-top:2%;
}

.profile-name{
    text-align: center;
}

.profile-biographie{
    font-size: 0.9em;
    font-style: italic;
    padding: 2%;
}