{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/instagram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_mod.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Marriage - Moment of Life</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Homepage</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matrimoni <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mat/">Tutti i comuni</a> </li>
                        <li><a href="/mat/trento">Trento</a></li>
                        <li><a href="/mat/rovereto">Rovereto</a></li>
                        <li><a href="/mat/pergine">Pergine</a></li>
                        <li><a href="/mat/arco">Arco</a></li>
                        <li><a href="/mat/pinzolo">Pinzolo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instagram <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/instagram/">Mio Profilo</a></li>
                        <li><a href="/instagram/search">Cerca</a></li>
                    </ul>
                </li>
                <li class=""><a href="#">Facebook <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="container big_container margin-bottom-container nopadding margin-top-container">
        <div class="post-header">
            Search for Hastags
        </div>
        <div class="post-body">
            <div class="container-fluid">
                <form action="/instagram/result" method="get">
                    <input type="hidden" value="hashtags" name="search" />
                    <div class="form-group row">
                        <label for="labelHashtags" class="col-sm-1 form-control-label">Hashtag</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="hashtag" id="hashtag" placeholder="Hashtag">
                        </div>
                        <div class=" col-sm-2">
                            <button type="submit" class="btn btn-secondary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container big_container margin-bottom-container nopadding margin-top-container">
        <div class="post-header">
            Search for Users
        </div>
        <div class="post-body ">
            <div class="container-fluid">
                <form action="/instagram/result" method="get">
                    <input type="hidden" value="users" name="search" />
                    <div class="form-group row">
                        <label for="labelUsers" class="col-sm-1 form-control-label">Users</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="user" id="user" placeholder="User">
                        </div>
                        <div class=" col-sm-2">
                            <button type="submit" class="btn btn-secondary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>