<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {{ token }}
</div>
<h3>Welcome back {{ profile.user }}</h3>
<div>
    <div>Id: {{ profile.id }}</div>
    <div>Name: {{ profile.full_name }}</div>
    <div>Username: {{ profile.user }}</div>
    <div>Bio: {{ profile.bio }}</div>
</div>
<div>
    {% for post in posts %}
        <div>
            <div>Date: {{ post.caption.created_time }}</div>
            <div>Created By: {{ post.caption.from.full_name }}</div>
            <div>Type: {{ post.type }}</div>
            <div>Do I like this? {{ post.user_has_liked }}</div>
            {% if 'name' in post.location %}
                <div>Posto: {{ post.location.name }}</div>
            {% endif %}
            {% if 'latitude' in post.location and 'longitude' in post.location %}
                <div>Location: Longitudine: {{ post.location.longitude }} - Latitudine: {{ post.location.latitude }}</div>
            {% endif %}
            <div>Testo: {{ post.caption.text }}</div>
            <div>Likes: {{ post.likes.count }}</div>
            <ul>
                {% for user in post.users_in_photo %}
                    <li>{{ user.user.username }} - {{ user.user.full_name }}</li>
                {% endfor %}
            </ul>
            <div>
                Tag:
                <div>
                    <ul>
                        {% for tag in post.tags %}
                            {{ tag }},
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr />
    {% endfor %}
</div>
</body>
</html>