{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% for data in dati %}
        <div>
            <div><a href="https://facebookalgorithm.herokuapp.com/profile?id={{ data.id }}">ID: {{ data.id }}</a></div>
            <div>Username: {{ data.username }}</div>
            <div>Name: {{ data.full_name }}</div>
            <div>Biographie: {{ data.bio }}<div></div></div>
        </div>
        <hr />
    {% endfor %}
</div>

</body>
</html>