<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {{ token }}
</div>
<h3>Logged In</h3>
<div>
    {% for data in dati %}
        <div>User: {{ data.user.username }}</div>
        <div>Full name: {{ data.user.full_name }}</div>
        <div>Posto: {{ data.location.name }}</div>
        <div>Testo: {{ data.caption.text }}</div>
        <ul>
            {% for user in data.users_in_photo %}
                <li>{{ user.user.username }} - {{ user.user.full_name }}</li>
            {% endfor %}
        </ul>
        <div>
            Tag:
            <div>
                <ul>
                    {% for tag in data.tags %}
                        {{ tag }}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
    {% endfor %}
</div>
<hr />
<div>
    Media Liked:
    {% for media in liked %}
        <div>
            <div></div>
        </div>
    {%  endfor %}
</div>
<hr />
<div>
    {{ liked }}
</div>
<div>{{ dati }}</div>
</body>
</html>