.profile-container{
    position: fixed;
    background: #e6e6e6;
    #padding: 1%;
    margin-top:1.5%;
    margin-left: 8%;
    border: 1px solid #3959b6;
    width: 15%;
    min-width: 200px;
}

.profile-header{
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    color:#ffffff;
    background-color: #466ad4;
    font-size: 1.2em;
}

.profile-header-title{

}

.profile-data{
    padding: 1%;
    padding-top: 5%;
}

.profile-img{
    text-align: center;
}

.profile-img div{
    display: inline-block;
}

.profile-img div img{
    width: 200px;
    height: 200px;
}

.profile-info{
    margin-top: 5%;
    padding-top:2%;
}

.profile-name{
    text-align: center;
}

.profile-biographie{
    font-size: 0.9em;
    font-style: italic;
    padding: 2%;
}