{% load staticfiles %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/instagram.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_mod.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}">
    <script>
        $(document).ready(function () {
            $('.container-progressbar').show();

            $('.btn-click').click(function () {
                if($(this).hasClass('btn-success'))
                {
                    $(this).removeClass('btn-success');
                    $(this).addClass('btn-danger');
                    $(this).text('Cancel');
                }
                else{
                    $(this).removeClass('btn-danger');
                    $(this).addClass('btn-success');
                    $(this).text('Save');
                }
            });

            $('#btn-send').click(function(){
                $('.popup').show();
            });

            $('#btn-back').click(function () {
                $('.popup').hide();
            });

            $('#btn-confirm').click(function () {
               alert('Foto salvate!');
            });

        });

        function start_progress() {
            $('#progress-bar').animate({
                width: '100%'
            },5000,function () {
                $('.container-progressbar').hide();
                $('.post-container-noprofile').show();
            });
            /*var length = 0;
            while (length<100){
                length+=1;
                sleepFor(50);
                $('#progress-bar').width(length+'%');
            }

            $('.container-progressbar').hide();

            $('.post-container-noprofile').show();*/
        }

        function sleepFor( sleepDuration ){
            var now = new Date().getTime();
            while(new Date().getTime() < now + sleepDuration){ /* do nothing */ }
        }
    </script>
    <style>
        .container-progressbar{
            background: #d6d6d6;
            margin-up:100px;
            padding: 1%;
        }

        .popup{
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 99999;
            display: none;
            background: rgba(0,0,0,0.9);
        }

        .all{
            z-index: 100;
        }

        .popup-container{
            margin-top: 20%;
            margin-left: 30%;
            margin-right: 30%;
            background-color: white;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .post-container-noprofile{
            display: none;
        }

    </style>

</head>
<body>
<div class="popup">

    <div class="container">
        <div class="popup-container">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 col-sm-offset-3 control-label">Sei sicuro di voler procedere?</label>

                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-4">
                        <button class="btn btn-success" id="btn-confirm">Procedi</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger" id="btn-back">Indietro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="all">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Marriage - Moment of Life</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/">Homepage</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matrimoni <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/mat/">Tutti i comuni</a> </li>
                            <li><a href="/mat/trento">Trento</a></li>
                            <li><a href="/mat/rovereto">Rovereto</a></li>
                            <li><a href="/mat/pergine">Pergine</a></li>
                            <li><a href="/mat/arco">Arco</a></li>
                            <li><a href="/mat/pinzolo">Pinzolo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instagram <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/instagram/">Mio Profilo</a></li>
                            <li><a href="/instagram/search">Cerca</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#">Facebook <span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container" onload="start_progress()">
        <div class="container-progressbar">
            <div class="container-progressbar-text">
                Siamo raccogliendo i dati
            </div>
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>

    </div>


    <div class="post-container-noprofile">
        <div class="post-list">
            {% if empty %}
                <div class="post">
                    <div class="post-header">
                        <div class="container-fluid">
                            <div class="col-md-12">No Results</div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="post-text">
                                        There are no results.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">

                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- HASHTAGS -->
            {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <div class="container-fluid">
                            <div class="col-md-9"><strong>{{ post.type }}</strong> made by <strong><a href="/instagram/profile?id={{ post.caption.from.id }}">{{ post.caption.from.username }}</a></strong> in <strong>{{ post.location.name }}</strong> the <strong>{{ post.caption.created_time}}</strong></div>
                            <div class="col-md-2 post-likes"><strong>{{ post.likes.count }} Likes</strong></div>
                            <div class="col-md-1">
                                <div class="post-form">
                                    <button type="submit" class="btn btn-secondary btn-success btn-click">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-body nopadding">
                        <div class="container-fluid nopadding">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{ post.images.standard_resolution.url }}" class="post-img" />
                                </div>
                                <div class="col-md-9">
                                    <div class="post-text">
                                        {{ post.caption.text }}
                                    </div>
                                    <div class="post-info">
                                        <div class="container-fluid nopadding">
                                            {% if post.users_in_photo|length > 0 %}
                                                <div class="row">
                                                    <div class="col-md-1">Utenti: </div>
                                                    <div class="col-md-11">
                                                        <div class="post-tagged">
                                                            {% for user in post.users_in_photo %}
                                                                <a href="/instagram/profile?id={{ user.user.id }}">{{ user.user.username }}</a>,
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if post.tags|length > 0 %}
                                                <div class="row">
                                                    <div class="col-md-2">Hashtags: </div>
                                                    <div class="col-md-10">
                                                        <div class="post-hashtags">
                                                            {% for tag in post.tags %}
                                                                <a href="/instagram/result?search=hashtags&hashtag={{ tag }}" >#{{ tag }}</a>,
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-footer">

                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="post">
                <div class="post-header">
                    <div class="container-fluid">
                        <div class="col-md-3">Send all the saved pictures</div>
                        <div class="col-md-1"><button type="submit" class="btn btn-secondary btn-success" id="btn-send">Send</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% comment %}
{% for user in users %}
    <div class="container big_container margin-bottom-container margin-top-container nopadding">
        <div class="post-header">
            <div class="row">
                <div class="col-md-12"><strong>{{ user.username }}</strong></div>
            </div>
        </div>
        <div class="post-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 nopadding">
                        <img class="user_result_img" src="{{ user.profile_picture }}" />
                    </div>
                    <div class="col-md-9 user_result_info">
                        <div><strong>ID:</strong> {{ user.id }}</div>
                        <div><strong>Username:</strong> {{ user.username }} </div>
                        <div><strong>Last Name:</strong> {{ user.full_name }} </div>
                        <div><strong>WebSite:</strong> {{ user.website }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endcomment %}

{% comment %}
{% for post in posts %}
    <div class="container big_container margin-bottom-container nopadding">
        <div class="post">
            <div class="post-header">
                <div class="row">
                    <div class="col-md-11"><strong>{{ post.type }}</strong> made by <strong><a href="/instagram/profile?id={{ post.caption.from.id }}">{{ post.caption.from.username }}</a></strong> in <strong>{{ post.location.name }}</strong> the <strong>{{ post.caption.created_time|timestamp }}</strong></div>
                    <div class="col-md-1"><strong>{{ post.likes.count }} Likes</strong></div>
                </div>
            </div>
            <div class="post-body">
                <div class="container-fluid">
                    <div class="row border-bottom">
                        <div class="col-md-4 post-img">
                            <img src="{{ post.images.standard_resolution.url }}" />
                        </div>
                        <div class="post-text col-md-8">
                            <div>{{ post.caption.text }}</div>
                        </div>
                    </div>
                    <div class="row users_in_photos post-info">
                        <div class="">
                            <ul>
                                {% for user in post.users_in_photo %}
                                    <li><a href="/instagram/profile?id={{ user.user.id }}">{{ user.user.username }}</a>, </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row tag_in_posts post-info">
                        <div class="">
                            <ul>
                                {% for tag in post.tags %}
                                    <a href="/instagram/result?search=hashtags&hashtag={{ tag }}" >#{{ tag }}</a>,
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endcomment %}
<script>
    start_progress();
</script>
</body>

</html>